# World CAPE Ratio

The proposal of this study is to verify if investing globally in the countries with low CAPE Shiller outperform equally weighted portfolio. Taxes and transaction costs wasn't be included.

References
* https://www.advisorperspectives.com/articles/2020/07/20/the-remarkable-accuracy-of-cape-as-a-predictor-of-returns-1
* https://seekingalpha.com/article/4257007-this-strategy-tripled-s-and-p-500-over-25-years
* https://mebfaber.com/2019/01/06/you-would-have-missed-961-in-gains-using-the-cape-ratio-and-thats-a-good-thing/
* https://www.morningstar.com/articles/993648/maybe-theres-something-to-the-shiller-cape-ratio-after-all
* https://siblisresearch.com/data/cape-ratios-by-country/
* https://www.lynalden.com/shiller-pe-cape-ratio/
* https://investerarfysikern.se/wp-content/uploads/2021/11/2014_02_CAPE_Predicting_Stock_Market_Returns.pdf
* https://medium.datadriveninvestor.com/cape-ratio-are-you-using-this-macro-indicator-to-refine-your-investment-choices-33e17852ec12
* https://www.nasdaq.com/articles/predicting-stock-market-returns-using-shiller-cape-and-pb-2016-07-08
* https://twitter.com/haditaheri/status/1296542246355865601

In [71]:
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt

### Getting historical CAPE

Firstly we need do get historical CAPE from: https://indices.barclays/IM/21/en/indices/static/historic-cape.app

In [6]:
df_cape = pd.read_csv('Historic-cape-ratios.csv')
df_cape['Date'] = pd.to_datetime(df_cape.loc[:, 'Date'], format = '%d/%m/%Y')
df_cape.drop(columns=['Europe'], inplace=True)
df_cape = df_cape[df_cape['Date']>'2004-11-30'].copy()

In [7]:
all_countries = list(df_cape.columns[1:])
len(all_countries)

25

In [8]:
def get_median_cape(dataframe, country):
    df_country = dataframe.loc[:, country]
    df_country = df_country[df_country != 0]
    return df_country.quantile(.5)

In [9]:
for country in all_countries:
    median_cape = round(get_median_cape(df_cape, country), 2)
    current_cape = df_cape.loc[df_cape.index[-1], country]
    relative = round(current_cape/median_cape, 2)
    print(f'{country}: Median:{median_cape}, Current:{current_cape}, Relative:{relative}')

Australia: Median:20.52, Current:23.21, Relative:1.13
Brazil: Median:13.48, Current:16.16, Relative:1.2
Canada: Median:22.57, Current:26.32, Relative:1.17
China: Median:16.99, Current:15.87, Relative:0.93
France: Median:20.03, Current:28.48, Relative:1.42
Germany: Median:20.4, Current:22.33, Relative:1.09
Hong Kong: Median:20.24, Current:18.73, Relative:0.93
Italy: Median:15.16, Current:25.39, Relative:1.67
India: Median:22.9, Current:34.77, Relative:1.52
Israel: Median:17.7, Current:19.08, Relative:1.08
Japan: Median:24.8, Current:23.73, Relative:0.96
Korea: Median:15.24, Current:17.03, Relative:1.12
Mexico: Median:24.22, Current:21.17, Relative:0.87
Netherlands: Median:19.69, Current:42.68, Relative:2.17
Poland: Median:13.38, Current:13.05, Relative:0.98
Russia: Median:7.96, Current:11.83, Relative:1.49
Singapore: Median:16.42, Current:16.92, Relative:1.03
South Africa: Median:20.67, Current:17.93, Relative:0.87
Spain: Median:15.37, Current:17.23, Relative:1.12
Sweden: Median:22.35, Current:24.66, Relative:1.1
Switzerland: Median:25.09, Current:31.06, Relative:1.24
Taiwan: Median:22.63, Current:30.26, Relative:1.34
Turkey: Median:12.77, Current:8.13, Relative:0.64
UK: Median:15.48, Current:17.45, Relative:1.13
USA: Median:25.21, Current:39.08, Relative:1.55

### Getting ticker data

In [10]:
etfs = {'Australia': 'EWA', 'Brazil': 'EWZ', 'Canada': 'EWC', 'China': 'ASHR',
        'France': 'EWQ', 'Germany': 'EWG', 'Hong Kong': 'EWH', 'Italy': 'EWI',
        'India': 'PIN', 'Israel': 'EIS', 'Japan': 'EWJ', 'Korea': 'EWY', 
        'Mexico': 'EWW', 'Netherlands': 'EWN', 'Poland': 'EPOL', 'Russia': 'RSX',
        'Singapore': 'EWS', 'South Africa': 'EZA', 'Spain': 'EWP', 'Sweden': 'EWD',
        'Switzerland': 'EWL', 'Taiwan': 'EWT', 'Turkey': 'TUR', 'UK': 'EWU', 'USA': 'IVV'}

In [47]:
# Collecting historical data
etfs_data = {}
for country in etfs:
    etf_ticker = etfs[country]
    data = yf.download(etf_ticker,'1999-12-31','2020-12-31')
    data.reset_index(inplace=True)
    etfs_data[etf_ticker] = data

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [76]:
# Checking first date
for i in etfs_data:
    print(i, etfs_data[i].iloc[0,0], etfs_data[i].shape[0])

EWA 1999-12-31 00:00:00 5284
EWZ 2000-07-14 00:00:00 5149
EWC 1999-12-31 00:00:00 5284
ASHR 2013-11-06 00:00:00 1800
EWQ 1999-12-31 00:00:00 5284
EWG 1999-12-31 00:00:00 5284
EWH 1999-12-31 00:00:00 5284
EWI 1999-12-31 00:00:00 5284
PIN 2008-03-05 00:00:00 3230
EIS 2008-03-28 00:00:00 3214
EWJ 1999-12-31 00:00:00 5284
EWY 2000-05-12 00:00:00 5192
EWW 1999-12-31 00:00:00 5284
EWN 1999-12-31 00:00:00 5284
EPOL 2010-05-26 00:00:00 2669
RSX 2007-04-30 00:00:00 3444
EWS 1999-12-31 00:00:00 5284
EZA 2003-02-07 00:00:00 4506
EWP 1999-12-31 00:00:00 5284
EWD 1999-12-31 00:00:00 5284
EWL 1999-12-31 00:00:00 5284
EWT 2000-06-23 00:00:00 5163
TUR 2008-03-28 00:00:00 3214
EWU 1999-12-31 00:00:00 5284
IVV 2000-05-19 00:00:00 5187

### Strategies

#### Equal weight

In [79]:
# Generating dataframe with date
equal_weight = pd.DataFrame(etfs_data['EWA']['Date']).copy()

           Date
0    1999-12-31
1    2000-01-03
2    2000-01-04
3    2000-01-05
4    2000-01-06
...         ...
5279 2020-12-23
5280 2020-12-24
5281 2020-12-28
5282 2020-12-29
5283 2020-12-30

[5284 rows x 1 columns]