# World CAPE Ratio

References
* https://www.advisorperspectives.com/articles/2020/07/20/the-remarkable-accuracy-of-cape-as-a-predictor-of-returns-1
* https://seekingalpha.com/article/4257007-this-strategy-tripled-s-and-p-500-over-25-years
* https://mebfaber.com/2019/01/06/you-would-have-missed-961-in-gains-using-the-cape-ratio-and-thats-a-good-thing/
* https://www.morningstar.com/articles/993648/maybe-theres-something-to-the-shiller-cape-ratio-after-all
* https://siblisresearch.com/data/cape-ratios-by-country/
* https://www.lynalden.com/shiller-pe-cape-ratio/
* https://investerarfysikern.se/wp-content/uploads/2021/11/2014_02_CAPE_Predicting_Stock_Market_Returns.pdf
* https://medium.datadriveninvestor.com/cape-ratio-are-you-using-this-macro-indicator-to-refine-your-investment-choices-33e17852ec12
* https://www.nasdaq.com/articles/predicting-stock-market-returns-using-shiller-cape-and-pb-2016-07-08
* https://twitter.com/haditaheri/status/1296542246355865601

In [1]:
import pandas as pd

Firstly we need do get historical CAPE from: https://indices.barclays/IM/21/en/indices/static/historic-cape.app

In [120]:
df_cape = pd.read_csv('Historic-cape-ratios.csv')

In [121]:
df_cape.tail()

,Date,Australia,Brazil,Canada,China,Europe,France,Germany,Hong Kong,Italy,...,Russia,Singapore,South Africa,Spain,Sweden,Switzerland,Taiwan,Turkey,UK,USA
474,30/06/2021,24.01,21.66,25.99,19.18,23.90,27.36,22.74,19.74,24.84,...,10.60,16.43,19.15,17.06,25.34,31.35,32.32,7.70,17.08,38.46
475,30/07/2021,24.24,20.59,26.38,16.54,24.23,28.14,22.72,19.44,26.67,...,10.69,16.83,18.87,17.23,26.20,31.33,31.30,7.80,17.10,38.62
476,31/08/2021,24.41,18.57,26.05,16.18,24.50,28.02,22.56,19.13,25.04,...,11.08,16.35,18.31,17.01,25.58,31.94,31.59,8.10,17.58,38.91
477,30/09/2021,23.41,17.17,25.06,15.37,23.57,26.91,21.66,18.03,24.69,...,11.70,16.48,17.74,16.77,24.08,29.80,30.39,7.52,17.29,37.11
478,29/10/2021,23.21,16.16,26.32,15.87,24.32,28.48,22.33,18.73,25.39,...,11.83,16.92,17.93,17.23,24.66,31.06,30.26,8.13,17.45,39.08

In [124]:
def get_median_cape(dataframe, country):
    df_country = dataframe.loc[:, country]
    df_country = df_country[df_country != 0]
    return df_country.quantile(.5)

In [174]:
all_countries = list(df_cape.columns)[1:]

for country in all_countries:
    median_cape = get_median_cape(df_cape, country)
    current_cape = df_cape.loc[df_cape.index[-1], country]
    relative = round(current_cape/median_cape, 2)
    print(f'{country}: Median:{median_cape}, Current:{current_cape}, Relative:{relative}')

Australia: Median:20.14, Current:23.21, Relative:1.15
Brazil: Median:13.48, Current:16.16, Relative:1.2
Canada: Median:22.46, Current:26.32, Relative:1.17
China: Median:16.86, Current:15.87, Relative:0.94
Europe: Median:19.13, Current:24.32, Relative:1.27
France: Median:23.22, Current:28.48, Relative:1.23
Germany: Median:20.54, Current:22.33, Relative:1.09
Hong Kong: Median:20.1, Current:18.73, Relative:0.93
Italy: Median:21.26, Current:25.39, Relative:1.19
India: Median:22.51, Current:34.77, Relative:1.54
Israel: Median:17.875, Current:19.08, Relative:1.07
Japan: Median:38.02, Current:23.73, Relative:0.62
Korea: Median:15.26, Current:17.03, Relative:1.12
Mexico: Median:23.585, Current:21.17, Relative:0.9
Netherlands: Median:17.1, Current:42.68, Relative:2.5
Poland: Median:13.46, Current:13.05, Relative:0.97
Russia: Median:7.96, Current:11.83, Relative:1.49
Singapore: Median:21.45, Current:16.92, Relative:0.79
South Africa: Median:20.66, Current:17.93, Relative:0.87
Spain: Median:16.715, Current:17.23, Relative:1.03
Sweden: Median:22.92, Current:24.66, Relative:1.08
Switzerland: Median:23.56, Current:31.06, Relative:1.32
Taiwan: Median:22.695, Current:30.26, Relative:1.33
Turkey: Median:12.56, Current:8.13, Relative:0.65
UK: Median:17.08, Current:17.45, Relative:1.02
USA: Median:23.69, Current:39.08, Relative:1.65